//colors
$primary-color: hsl(21,94,48);
$secondary-color: hsl(23,12,13);

//fonts
$xl: 24px;
$l: 20px;
$m: 16px;
$s: 13px;

//
$gutter: 16px;
$max-width: 1200px;
// z-index

$z-normal: 1;
$z-widget: 100;
$z-modal: 1000;